---
import { css } from '@tacos-ui/styled-system/css';
import { Box, Flex, HStack, type BoxProps } from '@tacos-ui/styled-system/jsx';
import { IconButton } from '@tacos-ui/react';

import { Github } from 'lucide-react';

import { Logo } from '~/components/logo';
import { ColorModeMenu } from './ColorModeMenu';

interface Props extends BoxProps {}

const props = Astro.props;
---

<Box
  as="nav"
  role="navigation"
  className={css({ position: 'sticky', top: '0', zIndex: 'docked', width: 'full' })}
>
  <Flex justify="center" align="center">
    <HStack background="bg.default" justify="space-between" h="12" px="3" {...props}>
      <HStack as="a" href="/" aria-label="Back home" fontWeight="bold">
        <Logo />
        Tacos UI
      </HStack>
      <HStack gap="1">
        <IconButton variant="ghost">
          <a href="https://github.com/samuelbillaud/tacos-ui" target="_blank" rel="noreferrer">
            <Github />
          </a>
        </IconButton>
        <ColorModeMenu client:load />
      </HStack>
    </HStack>
  </Flex>
</Box>
